{# @var craft \craft\web\twig\variables\CraftVariable #}


















<div class="styles">
    <div class="styles__menu">
    
        <a href="/dev/inv/index">Style Inventory</a>
    
        <a href="/dev/inv/globals">Globals</a>
    
        <a href="/dev/inv/animations">Animations</a>
    
        <a href="/dev/inv/buttons">Buttons</a>
    
        <a href="/dev/inv/forms">Forms</a>
    
        <a href="/dev/inv/grid">Grids</a>
    
        <a href="/dev/inv/icons">Icons</a>
    
        <a class="active" href="/dev/inv/media"><span class="styles__menu__active_spacer"></span>Media<span class="styles__menu__active_indicator"></span></a>
    
        <a href="/dev/inv/messages">Messages</a>
    
        <a href="/dev/inv/nav">Navigation</a>
    
        <a href="/dev/inv/overlays">Overlays</a>
    
        <a href="/dev/inv/sliders">Sliders</a>
    
</div>
    <div>
        

        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Audio File</h2></div>
                <div class="styles__example__description"><p>Plays an audio file using default browser controls.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  {% import 'macros/component.twig' as component %}
{{ component.c('audio', { url: 'https://starter.wbrowar.com/audio/clip.mp3' }) }}
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{{ component.c(&#39;audio&#39;, { url: &#39;https://starter.wbrowar.com/audio/clip.mp3&#39; }) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>lazyLoad</b></td>
                                <td>boolean</td>
                                <td><i>true</i></td>
                                <td>Adds the data attributes used by lazy.js to load the file when the user scrolls to it on the page.</td>
                            </tr>
                        
                            <tr>
                                <td><b>loop</b></td>
                                <td>boolean</td>
                                <td><i>true</i></td>
                                <td>Loops the audio file.</td>
                            </tr>
                        
                            <tr>
                                <td><b>url</b> (required)</td>
                                <td>string</td>
                                <td><i>null</i></td>
                                <td>URL of audio file.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Image</h2></div>
                <div class="styles__example__description"><p>An image loaded when the user scrolls down to its location on the page.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  {% import 'macros/component.twig' as component %}
{% set image = craft.assets.title('fpo').one() %}
{% set options = {
    image: image,
    title: image.title ?? '',
    transforms: [
        { width: 500, height: 500 },
        { width: 800, quality: 75 },
    ]
} %}
{{ component.c('image', options) }}
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{% set image = craft.assets.title(&#39;fpo&#39;).one() %}
{% set options = {
    image: image,
    title: image.title ?? &#39;&#39;,
    transforms: [
        { width: 500, height: 500 },
        { width: 800, quality: 75 },
    ]
} %}
{{ component.c(&#39;image&#39;, options) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>lazyLoad</b></td>
                                <td>boolean</td>
                                <td><i>true</i></td>
                                <td>Adds the data attributes used by lazy.js to load the image when the user scrolls to it on the page.</td>
                            </tr>
                        
                            <tr>
                                <td><b>placeholder</b></td>
                                <td>string</td>
                                <td><i>blank png data url</i></td>
                                <td>The value of the image src attribute when srcset is used. This can be a blank png string or the url of an image.</td>
                            </tr>
                        
                            <tr>
                                <td><b>sizes</b></td>
                                <td>string</td>
                                <td><i>&#39;100vw&#39;</i></td>
                                <td>The value of the img sizes attribute.</td>
                            </tr>
                        
                            <tr>
                                <td><b>styles</b></td>
                                <td>string</td>
                                <td><i>&#39;&#39;</i></td>
                                <td>Inline styles that are added to the figure wrapper of the image.</td>
                            </tr>
                        
                            <tr>
                                <td><b>title</b></td>
                                <td>string</td>
                                <td><i>&#39;&#39;</i></td>
                                <td>The value of the img alt attribute.</td>
                            </tr>
                        
                            <tr>
                                <td><b>transforms</b></td>
                                <td>array</td>
                                <td><i>[]</i></td>
                                <td>An array of objects that create a Craft image transform.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Image Background</h2></div>
                <div class="styles__example__description"><p>Fills the background of an element with a responsive video file that autoplays and loops.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  <div class="styles__box_wrapper">
    <div class="styles__box" style="padding: 0;">
        {% import 'macros/component.twig' as component %}
        {% set image = craft.assets.title('fpo').one() %}
        {% set options = {
            image: image,
            title: image.title ?? '',
            transforms: [
                { width: 500, height: 500 },
                { width: 800, quality: 75 },
            ]
        } %}
        {{ component.c('image_bg', { image: options }) }}
    </div>
</div>
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{% set image = craft.assets.title(&#39;fpo&#39;).one() %}
{% set options = {
    image: image,
    title: image.title ?? &#39;&#39;,
    transforms: [
        { width: 500, height: 500 },
        { width: 800, quality: 75 },
    ]
} %}
{{ component.c(&#39;image_bg&#39;, { image: options }) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>image</b> (required)</td>
                                <td>object</td>
                                <td><i>{}</i></td>
                                <td>Options for the image element. See options above.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Video File</h2></div>
                <div class="styles__example__description"><p>Plays a video file. To allow users to control the video, add the `controls` attribute to the `video` tag.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  {% import 'macros/component.twig' as component %}
{{ component.c('video', { url: 'https://starter.wbrowar.com/video/clip.mp4' }) }}
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{{ component.c(&#39;video&#39;, { url: &#39;https://starter.wbrowar.com/video/clip.mp4&#39; }) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>autoplay</b></td>
                                <td>boolean</td>
                                <td><i>false</i></td>
                                <td>If set to true, video will play when it is loaded.</td>
                            </tr>
                        
                            <tr>
                                <td><b>controls</b></td>
                                <td>boolean</td>
                                <td><i>true</i></td>
                                <td>Display controls on or off.</td>
                            </tr>
                        
                            <tr>
                                <td><b>lazyLoad</b></td>
                                <td>boolean</td>
                                <td><i>true</i></td>
                                <td>Adds the data attributes used by lazy.js to load the file when the user scrolls to it on the page.</td>
                            </tr>
                        
                            <tr>
                                <td><b>loop</b></td>
                                <td>boolean</td>
                                <td><i>false</i></td>
                                <td>Loops the video file.</td>
                            </tr>
                        
                            <tr>
                                <td><b>muted</b></td>
                                <td>boolean</td>
                                <td><i>false</i></td>
                                <td>Mutes the video&#39;s audio.</td>
                            </tr>
                        
                            <tr>
                                <td><b>poster</b></td>
                                <td>string</td>
                                <td><i>null</i></td>
                                <td>Url of an image to show when the video is loading and before the video is played.</td>
                            </tr>
                        
                            <tr>
                                <td><b>source</b></td>
                                <td>string</td>
                                <td><i>&#39;file&#39;</i></td>
                                <td>Changes embed code based on source of the video. Options include: &lt;b&gt;youtube&lt;/b&gt;, &lt;b&gt;vimeo&lt;/b&gt;, or &lt;b&gt;file&lt;/b&gt;.</td>
                            </tr>
                        
                            <tr>
                                <td><b>url</b> (required)</td>
                                <td>string</td>
                                <td><i>null</i></td>
                                <td>URL of video file used when the source option is set to &#39;file&#39;.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Iframe Video (YouTube, Vimeo, etc ...)</h2></div>
                <div class="styles__example__description"><p>An iframe used to embed video content. Wraps the iframe in a `video` class to resize video in a 16:9 ratio.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  {% import 'macros/component.twig' as component %}
{{ component.c('video', { source: 'youtube', videoId: 'G4Sn91t1V4g' }) }}
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{{ component.c(&#39;video&#39;, { source: &#39;youtube&#39;, videoId: &#39;G4Sn91t1V4g&#39; }) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>source</b></td>
                                <td>string</td>
                                <td><i>&#39;file&#39;</i></td>
                                <td>Changes embed code based on source of the video. Options include: &lt;b&gt;youtube&lt;/b&gt;, &lt;b&gt;vimeo&lt;/b&gt;, or &lt;b&gt;file&lt;/b&gt;.</td>
                            </tr>
                        
                            <tr>
                                <td><b>videoId</b></td>
                                <td>string</td>
                                <td><i>null</i></td>
                                <td>ID of video as found on video hosting sites. Usually can be pulled from a URL or video embed tag.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
            <div class="styles__example">
                <div class="styles__example__title"><h2>Video Background</h2></div>
                <div class="styles__example__description"><p>Fills the background of an element with a responsive video file that autoplays and loops.</p></div>
                <div class="styles__example__display" style="background-color: #FFFFFF;">
                  <div class="styles__box_wrapper">
    <div class="styles__box">
        {% import 'macros/component.twig' as component %}
        {{ component.c('video_bg', { video: { url: 'https://starter.wbrowar.com/video/clip.mp4' } }) }}
    </div>
</div>
                </div>
                <div class="styles__example__code styles__example__code--twig">
                    {% verbatim %}<pre><code>{% import &#39;macros/component.twig&#39; as component %}
{{ component.c(&#39;video_bg&#39;, { video: { url: &#39;https://starter.wbrowar.com/video/clip.mp4&#39; } }) }}</code></pre>{% endverbatim %}
                </div>
                <table class="styles__example__table">
                    <thead>
                        <td><b>Name</b></td>
                        <td><b>Type</b></td>
                        <td><b>Default</b></td>
                        <td><b>Description</b></td>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td><b>video</b> (required)</td>
                                <td>object</td>
                                <td><i>{}</i></td>
                                <td>Options for the video element. See options above.</td>
                            </tr>
                        
                    </tbody>
                </table>
                
            </div>
        
    </div>
</div>


    {% set devStyleJs -%}
        loadCSS("/css/dev-styles.css?v=1.0.372");
    {%- endset %}
    {% js devStyleJs %}
